name: Yaml Lint
on: [push, pull_request]
jobs:
  lintAllTheThings:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: yaml-lint
      uses: ibiqlik/action-yamllint@v1
      with:
	file_or_dir: tutorials/tutorials.yml articles/articles.yml showcase/showcase.yml starters/starters.yml
	config_file: .github/workflows/yamllint.yml
